@page "/pokemon/{id:int}"
@using PokemonApi.Dtos
@inject HttpClient httpClient
@inject NavigationManager Navigation

<h1>Detalles del Pokémon</h1>

@if (pokemon == null)
{
    <p>Cargando detalles del Pokémon...</p>
}
else
{
    <h2>@pokemon.name</h2>
    <p><strong>ID:</strong> @pokemon.id</p>
    <!-- Agrega aquí más detalles del Pokémon según los datos disponibles -->
}

<button @onclick="GoBack">Regresar a la lista</button>

@code {
    [Parameter]
    public int id { get; set; }

    public PokemonDto? pokemon;

    protected override async Task OnInitializedAsync()
    {
        // Llama a la API para obtener los detalles del Pokémon por ID
        pokemon = await httpClient.GetFromJsonAsync<PokemonDto>($"pokemon/{id+1}");
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/pokemon");
    }
}
